/* .vitepress\theme\style\blur.css */
:root {

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* Feature透明 */
    .VPFeature {
        background-color: transparent;
    	border-top: 1px solid var(--vp-button-brand-border)!important;
        border-left: 1px solid var(--vp-button-brand-border)!important;
        border-right: 1px solid var(--vp-button-brand-border)!important;
    	border-bottom: 1.3px solid rgb(from var(--vp-button-brand-border) calc(r * 0.9) calc(g * 0.9) calc(b * 0.9) / alpha)!important;
        border-radius: 4px;
    }
    .VPLink.link.no-icon.VPFeature:hover{
          background-color: color-mix(in srgb, var(--vp-c-default-3) 95%, black); /* 使用主题色 */

    }
    /* 文档页侧边栏顶部透明 */
    .curtain {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    @media (min-width: 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(10px);
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

}
